<br /><br /><br /><br /><br />
<nav class="navbar navbar-expand-lg navbar-light bg-light py-7 fixed-bottom">
  <div class="container-fluid">
    <span class="navbar-brand" style="color: #f9a826"
      ><b>Workshops Angular</b>
    </span>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a href="#" class="nav-link disabled" style="color: #3f3d56">
            <b>@ 4 TWIN 1 2023</b></a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            href="#"
            target="_blank"
            rel="noopener noreferrer"
            style="color: #3f3d56"
          >
            <b> ESPRIT</b>
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            href="https://www.linkedin.com/in/ones-ben-rhaime/"
            target="_blank"
            rel="noopener noreferrer"
            style="color: #3f3d56"
          >
            <b>ones BEN RHAIME</b>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
