<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>ProjetProduit</title>
    <base href="/" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/x-icon" href="favicon.ico" />
  </head>
  <body>
    <div class="container">
      <div class="container" id="body">
        <app-header></app-header>
        <!--selector du composant HeaderComponent-->
        <router-outlet></router-outlet>
        <!---directive dont le rôle est d'afficher le composant-->
      </div>
      <app-footer></app-footer>
      <!--selector du composant FooterComponent-->
    </div>
  </body>
</html>
